body {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, blue, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, blue, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, blue, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, blue, yellow); /* Standard syntax */ 
  
  height: 780px;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #fff;
}

#container {
    
 
  margin: 0 auto;
  width: 777px;
  background:#fff;
  border: solid 1px;
}

#header {
  background-color: teal;
  text-align: center;
  padding: 20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#header h1 {
  font-size: 24px;
  margin: 0;
}
#header h2 {
  font-size: 20px;
  margin: 0;
}

#content {
  background-color: #b3b3b3;
  clear: left;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

#content h2 {
  color:#000;
  font-size: 160%;
  margin: 0 0 .5em;
}

li {
  padding: 18px;
}

a {
  color: #429;
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
  padding: 4px;
  margin: 0 auto;
}

#footer {
  color: white;
  background-color: teal;
  text-align: center;
  padding: 20px;
  margin: 0px;
  height: 1%;
}
